.wjh-about-adwr__wrapper {
    padding: 32px 0;
}

.wjh-about-adwr__metadata-table h5 {
    color: var(--bs-primary);
    margin-bottom: 20px;
}

/* BEGIN: About ADWR */
.wjh-about-adwr__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wjh-about-adwr__about-left {}

.wjh-about-adwr__about-left>h5 {
    position: relative;
    padding-top: 0.6rem;
    color: var(--bs-primary);
    font-weight: 500
}

.wjh-about-adwr__about-left>p {
    line-height: 24px;
    text-align: justify;
}

.wjh-about-adwr__about-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 740px) {
    .wjh-about-adwr__about {
        flex-direction: row;
    }

    .wjh-about-adwr__about-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* END: About ADWR */

.wjh-about-adwr__table tr th,
.wjh-about-adwr__table tr td:first-child {
    color: var(--bs-primary);
    font-weight: 600
}

.wjh-about-adwr__table tr td:first-child {
    white-space: nowrap;
}

.wjh-about-adwr__table tbody tr td:first-child {
    text-transform: uppercase;
}

.wjh-about-adwr__content {
    padding: 20px 0;
}

.wjh-about-adwr__content h6 {
    font-weight: 600;
    font-size: 18px;
}

.wjh-about-adwr__content ul {
    padding-left: 2rem;
    padding-bottom: 2rem
}