.navbar {
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.label::after {
    display: inline-block;
    border: 0;
    content: "\f282";
    font-family: bootstrap-icons;
    font-size: .6rem;
    line-height: 1;
    margin-left: 6px;
    vertical-align: -.1em;
}

.navbar :global(.ant-menu-title-content) {
    color: var(--bs-primary);
    font-size: 16px;
    font-weight: 500;
}

.navbar :global(.ant-menu-item::after) {
    border-bottom-width: 3px !important;
}