@import './styles/index.css';
@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.css";

arcgis-map {
    display: block;
    height: 100vh;
}

:root {
    --header-height: 130px;
    --bs-primary: #116aab;
    --bs-link-color: #116aab;
    --wjh-banner-text: #002b34;
}

@media screen and (max-width: 1440px) {
    :root {
        --header-height: 120px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --header-height: 80px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.primary-link {
    text-decoration: none;
    color: inherit;
}

.disable-scroll {
    overflow: hidden;
}

.highcharts-credits {
    display: none;
}

.highcharts-container {
    height: 600px !important;
}

.wjh-dot-light-quality .highcharts-container {
    height: 350px !important;
}

.wjh-exceedance-tree-map--small .highcharts-container {
    height: 350px !important;
}

.highcharts-yaxis-grid path {
    stroke: transparent;
}

.wjh-water-map__main .esri-feature-fields__field-header {
    white-space: nowrap;
}

/* 3d-map */
#map-home {
    align-items: center;
    display: flex;
    justify-content: center;
}

#map-home.hand-cursor {
    cursor: pointer
}

#c {
    display: block;
    height: 100%;
    width: 100%
}

.map-container {
    background-color: #181624;
    height: 500px;
    overflow: hidden;
    position: relative
}

#map-3d {
    height: 1000px;
    position: absolute;
    top: 0;
    width: 100%
}

#map-3d .globe-bg {
    background-image: url(https://www.fao.org/images/homepagelibraries/default-album/globe-bg.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%
}

#map-3d:active,
#map-3d:active:focus,
#map-3d:active:hover,
#map-3d:focus,
#map-3d:hover {
    outline: 0
}

#map-3d canvas {
    height: 100%;
    position: relative;
    transform: rotate(180deg);
}

#map-3d canvas:active,
#map-3d canvas:active:focus,
#map-3d canvas:active:hover,
#map-3d canvas:focus,
#map-3d canvas:hover {
    outline: 0
}

/* END: 3d map */

.leaflet-top,
.leaflet-bottom {
    z-index: 999;
}


.scroll-hint-container {
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 100;
}

.scroll-hint {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 24px;
    font-size: 14px;
    animation: bounce 2s infinite;
}

.scroll-icon {
    animation: bounce-icon 2s infinite;
}

/* Quill */
.ql-align-center {
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .highcharts-legend-item.wjh-dot-light-legend:first-child {
        transform: translate(8, 3);
    }

    .highcharts-legend-item.wjh-dot-light-legend:nth-child(2) {
        transform: translate(8, 22);
    }

    .highcharts-legend-item.wjh-dot-light-legend:last-child {
        transform: translate(8, 41);
    }
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {
    .highcharts-legend-item.wjh-dot-light-legend:first-child {
        transform: translate(25%, 3px);
    }

    .highcharts-legend-item.wjh-dot-light-legend:nth-child(2) {
        transform: translate(25%, 22px);
    }

    .highcharts-legend-item.wjh-dot-light-legend:last-child {
        transform: translate(25%, 41px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes bounce-icon {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(3px);
    }

    60% {
        transform: translateY(1.5px);
    }
}

.html-iframe iframe {
    width: 100%;
    height: 608px;
}